body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

.project-header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.project-main {
    padding: 20px;
}

.project-intro {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-gif {
    max-width: 100%; /* Adjust this value as needed to decrease width */
    max-height: 600px; /* Set a maximum height */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Rounded corners */
    margin-bottom: 15px; /* Space below the GIF */
}

.project-details article {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-details h2 {
    color: #333;
    margin-bottom: 10px;
}

.project-footer {
    text-align: center;
    padding: 20px;
}

.project-link {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.project-link:hover {
    background-color: #218838;
}
