* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

a {
    text-decoration: none; }

.header {
    background: linear-gradient(to right, #ff6e7f, #bfe9ff);
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 25%; }

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.profile-image img {
    max-width: 170px;     max-height: 170px;     border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    margin-right: 20px;
}


.profileLinks{
    text-align: center;


}

.menu {
    position: fixed;
    top: 50px; 
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #6a3093, #a044ff);
    padding: 10px;
    
}


@media screen and (min-width: 1200px) {
    .menu {
        top: 25%; 
    }
}

@media screen and (max-width: 1199px) {
    .menu {
        top: 50px; 
    }
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul a {
    text-decoration: none;
    color: #ff6e7f;
    padding: 10px 20px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 5px;
}

.menu ul a:hover {
    background-color: #555;
    color: white;
}


.main-content{
    margin-top: 25%;
    display: flex;
    flex-direction: column;

}
.main-content .section {
    display: flex;
    margin-top: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.section h2 {
    color: #333;
    margin-bottom: 15px;
}


#publications-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

#publications-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}



.publication {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.publication-item {
    width: 48%;
    display: flex;
    margin-bottom: 20px;
    background: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.image {
    flex: 1;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    max-width: 100%;
    height: auto;
    border-style: none;
}

.info {
    flex: 2;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.info a {
    color: #ff6e7f;
    text-decoration: none;
    margin-right: 10px;
}

.info a:hover {
    color: #555;
}

@media screen and (max-width: 768px) {
    .publication-item {
        width: 100%;
    }
}


.footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#about {
    background: #f4f4f4;
    display: flex;
    flex-direction: column;     align-items: center;     justify-content: center;     padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-left: auto;     margin-right: auto;     max-width: 800px; }

#about h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.about-content {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    text-align: justify;     padding: 0 20px;
    width: 100%; }

.about-content a {
    color: #007bff;
    text-decoration: none;
}

.about-content a:hover {
    text-decoration: underline;
}




#projects-section {
    text-align: center;     padding: 20px; }

#projects-section h2 {
    font-size: 24px;     margin-bottom: 20px;     display: inline-flex;     align-items: center;     justify-content: center; }

.fa-project-diagram {
    margin-right: 10px; }

.project-container {
    display: flex;     flex-wrap: wrap;     justify-content: center; }

.project-box {
    flex: 0 0 30%;     margin: 10px;     padding: 20px;     border: 1px solid #ddd;     border-radius: 8px;     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);     text-align: left; }

@media (max-width: 768px) {
    .project-box {
        flex: 0 0 45%;     }
}

@media (max-width: 480px) {
    .project-box {
        flex: 0 0 90%;     }
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;     padding: 20px;
}

.project-box {
    width: 100px;     margin: 15px;     border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
    overflow: hidden;     transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-gif {
    max-width: 100%;     height: 10vh;     border-top-left-radius: 8px;     border-top-right-radius: 8px;
}

.project-box h3 {
    color: #007bff;
    margin: 10px 0;
}

.project-box p {
    color: #333;
    line-height: 1.6;
    padding: 0 10px; }

.project-box a.project-link {
    background-color: #007bff;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px 0;
    display: inline-block;
}

.project-box a.project-link:hover {
    background-color: #0056b3;
}


@media screen and (max-width: 768px) {
    .header {
        position: fixed;
        padding: 5px 0;         width: 100%;         height: auto;     }

    .header-content {
        flex-direction: column;         align-items: center;
        text-align: center;
    }

    .profile-image img {
        max-width: 80px;         max-height: 80px;
    }

    .profile h1 {
        font-size: 4vw;     }

    .profile p, .profileLinks p, .profileLinks a {
        font-size: 0.5vw;     }
    
    a {
        text-decoration: none;     }
    
    .profileLinks a {
        text-decoration: none;
    }
    
    .menu {
        position: fixed;
        top: 0;
        left: 0;         z-index: 1001;         width: 0;         height: 30%;         overflow: hidden;         background: rgba(255, 255, 255, 0.95);         transition: width 0.3s ease;         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);         border-top-right-radius: 10px;         border-bottom-right-radius: 10px;         margin-left: -2vh;
    }
    
    
    .menu ul {
        flex-direction: column;
        align-items: flex-start;         width: 100%;         height: 100%;         padding-top: 60px;     }
    
    .menu.active {
        width: 250px;     }
    
    .burger-menu {
        display: block;
        cursor: pointer;
        color: rgb(18, 1, 1);
        font-size: 24px;
        padding: 10px;
        position: fixed;         top: 10px;         left: 10px;         z-index: 1002;     }
    

    .main-content {
        margin-top: 18vh;     }
}

@media screen and (max-width: 480px) {
    .profile h1 {
        font-size: 5vw;     }

    .profile p, .profileLinks p, .profileLinks a {
        font-size: 4vw;     }

    .main-content {
        margin-top: 25vh;     }

}




.modal {
    display: none; 
    position: fixed; 
    z-index: 1001; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal p {
    text-align: center;
    color: black;
    font-size: 20px;
}

#academic-services-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 100%;
    margin: 0 auto;
}

#academic-services-section h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.academic-service-item {
    width: 100%;
    margin-bottom: 20px;
    background: #f9f9f9;     border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);     padding: 15px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.academic-service-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.academic-service-item h3 {
    color: #007bff;     margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .academic-service-item {
        padding: 10px;
        text-align: center;     }
}








.academic-service-item {
    text-align: center;     margin-bottom: 20px;
}

.academic-service-item h3 {
    margin-bottom: 20px; }

.invited-talks-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;     align-items: flex-start;     gap: 20px; }

.invited-talk {
    flex: 0 0 30%;     display: flex;
    flex-direction: column;     align-items: center;     background: #ffffff;     border-radius: 8px;     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);     overflow: hidden;     transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 20px; }

.invited-talk:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .invited-talk {
        flex: 0 0 45%;     }
}

@media screen and (max-width: 480px) {
    .invited-talk {
        flex: 0 0 90%;     }
}


.reviewer-container, .committee-member-container {
    padding: 10px 20px;
    background-color: #f4f4f4;     border-radius: 8px;     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);     margin-bottom: 20px;     text-align: center; }

